<div class="course-card">
    <div class="course-card__description">
        <div class="course-card__description-title">{{ course.title }}</div>
        <div class="course-card__description-text" [innerHTML]="course.description"></div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
                <b>Authors: </b>
                <span>{{ authors }}</span>
            </div>
            <div><b>Duration: </b><span class="course-card__duration">{{ course.duration | duration }}</span></div>
            <div><b>Created: </b><span class="course-card__date">{{ course.creationDate | customDate }}</span></div>
        </div>
        <div class="course-card__info-actions">
            <app-button [buttonText]="'show course'" [iconName]="['fas', 'circle-info']" (click)="showCourse(course)">
            </app-button>
            <div class="course-card__buttons">
                <!--Enter your code here-->
                <app-button [buttonStyles]="editableButtonStyle" [iconName]="['fas', 'trash-can']" *ngIf="editable"
                    (click)="deleteCourse(course)">
                </app-button>
                <app-button [buttonStyles]="editableButtonStyle" [iconName]="['fas', 'pencil']" *ngIf="editable"
                    (click)="editCourse(course)">
                </app-button>
            </div>
        </div>
    </div>
</div>