<app-header>
  <div class="user-info" *ngIf="isLoggedIn; else showLogin">
    <p class="user-name">{{userName}}</p>
    <app-button buttonText="Logout" [iconName]="['fas', 'sign-out-alt']" (click)="logout()"></app-button>
  </div>
  <ng-template #showLogin>
    <app-button buttonText="Login" [iconName]="['fas', 'sign-in-alt']" (click)="login()"></app-button>
  </ng-template>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Courses component -->
  <app-courses *ngIf="isLoggedIn && isCourses; else infoComponent" [isLoggedIn]="isLoggedIn"></app-courses>

  <!-- Info component -->
  <ng-template #infoComponent><app-info [title]="infoTitle" [text]="infoText">
      <app-button buttonText="Add new course" [iconName]="['fas', 'plus']" (click)="addNewCourse()"></app-button>
    </app-info>
  </ng-template>

  <!-- Course Card component -->
  <!--<app-course-card></app-course-card>-->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>