$color-white: #fff;
$color-gray: #CFCFCF;
$color-red: #FF0000;

.app-plate {
    width: 585px;
    min-height: 477px;
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-radius: 4px;
    // padding: 32px;
    display: flex;
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.app-error-text {
    color: $color-red;
    position: absolute;
    margin-top: 4px;
}

.form {
    &__control {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;

        .app-button {
            width: 215px;
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
        width: 440px;
        margin-top: 24px;
    }

    &__text {
        text-align: center;
        margin-top: 36px;
        flex-wrap: wrap;
    }
}

.separator {
    width: 100%;
    border-bottom: 1px solid $color-gray;
}

.text-danger {
    color: red;
}

.cursor-pointer {
    cursor: pointer;
}

input.error,
textarea.error {
    border-color: $color-red;
}