<div class="course-container">
  <h2>Create / Edit Course</h2>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="app-plate course-plate">
      <div class="course">
        <h3>Main Info</h3>
        <div class="form__control">
          <label for="title">Title</label>
          <input type="text" id="title" formControlName="title"
            [ngClass]="{'error': titleControl?.invalid && (titleControl?.dirty || titleControl?.touched)}"
            placeholder="Input text" />
          <span id="titleErrorMessage" class="text-danger">{{ getRequiredFieldError(titleControl, 'Title') }}</span>
          <span id="titleErrorLengthMessage" class="text-danger">{{ getMinLengthError(titleControl, 'Title') }}</span>
        </div>
        <div class="form__control">
          <label for="description">Description</label>
          <textarea id="description" name="description" formControlName="description"
            [ngClass]="{'error': descriptionControl?.invalid && (descriptionControl?.dirty || descriptionControl?.touched)}"
            placeholder="Input text" rows="4" cols="5"></textarea>
          <span id="descriptionErrorMessage" class="text-danger">{{ getRequiredFieldError(descriptionControl,
            'Description') }}</span>
          <span id="descriptionErrorLengthMessage" class="text-danger">{{ getMinLengthError(descriptionControl,
            'Description') }}</span>
        </div>
        <h3>Duration</h3>
        <div class="form__control">
          <label for="duration">Duration</label>
          <div class="course__flex course__flex__duration">
            <input type="number" id="duration" formControlName="duration"
              [ngClass]="{'error': durationControl?.invalid && (durationControl?.dirty || durationControl?.touched)}"
              placeholder="Input duration" />
            <div class="course__duration"> {{ courseForm.controls['duration'].value | duration }}</div>
          </div>
          <span id="durationErrorMessage" class="text-danger">{{ getInvalidDurationError(durationControl) }}</span>
        </div>
        <div class="author-container">

          <div class="course__listAuthors">
            <h3>Authors</h3>
            <div class=" form__control">

              <label for="author">Author name</label>
              <div formGroupName="author" class="course__flex">
                <input type="text" id="author" formControlName="name" placeholder="Input Author Name" />
                <app-button id="createAuthor" buttonText="Create author" [iconName]="['fas', 'plus']"
                  (click)="onCreateAuthor()"></app-button>
              </div>
              <span id="authorErrorLengthMessage" class="text-danger" *ngIf="createAuthorClicked">{{
                getMinLengthError(authorControl?.get('name'), 'Author', false) }}</span>
              <span id="authorErrorMessage" class="text-danger" *ngIf="createAuthorClicked">{{
                getPatternError(authorControl?.get('name')) }}</span>

              <div class="course__authors">
                <h4>Authors list</h4>
                <div *ngFor="let author of authors.controls; let i = index">
                  {{ author.value.name }}
                  <fa-icon [icon]="['fas', 'plus']" (click)="addCourseAuthor(i)"></fa-icon>
                </div>
              </div>

            </div>
          </div>

          <div class="course__authors">
            <h3>Course authors</h3>
            <div *ngIf="isCourseAuthorsEmpty()">
              <div>Authors list is empty</div>
            </div>
            <div *ngFor="let author of courseAuthors.controls; let i = index">
              {{ author.value.name }}
              <fa-icon [icon]="['fas', 'trash-alt']" (click)="removeCourseAuthor(i)"></fa-icon>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="form__buttons">
      <div class="form__action">
        <app-button buttonText="Cancel" [buttonStyles]="{ 'width': '215px' }" [iconName]="['fas', 'xmark']"
          (click)="goBack()">Cancel</app-button>
        <app-button *ngIf="creationMode" type="submit" buttonText="Create course" [iconName]="['fas', 'plus']">
        </app-button>
        <app-button *ngIf="!creationMode" type="submit" buttonText="Edit course" [iconName]="['fas', 'pencil']">
        </app-button>
      </div>
    </div>
  </form>
</div>