@import 'src/app/shared/styles/styles';

.course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-plate {
  min-height: 825px;
  min-width: 1104px;
}

.course {
  min-width: 60vw;
  min-height: 825px;
  margin-top: 48px;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input {
      // flex: 1;
      width: 500px;
    }

    & app-button {
      margin-left: 16px;
    }

    &__duration {
      justify-content: flex-start;
    }
  }

  &__duration {
    margin-left: 16px;
  }

  &__listAuthors {
    flex: 2;
    margin-right: 50px;
  }

  &__authors {
    margin-top: 8px;
    display: flex;
    flex-direction: column;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.author-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.edit-create-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}